@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor-fundo: #000000;
  --cor-texto: #f6f6f6;
  --cor-preenchimento:#272727;
  --cor-texto-secundario: #22d4fd;
  --fonte-texto-principal: "Krona One", sans-serif;
  --fonte-texto-secundario: "Montserrat", serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--cor-fundo);
  /* height: 100vh; */
  box-sizing: border-box;
}
.cabecalho{
  padding: 2% 0 0 15%;
}
.cabecalho_menu{
  display: flex;
  gap: 80px;
}
.cabecalho_menu_link {
  font-family: var(--fonte-texto-secundario);
  color: var(--cor-texto-secundario);
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 15%;
}

.container_texto {
  display: flex;
  flex-direction: column;
  width: 615px;

  gap: 40px;
}
.container_texto h1 {
  font-family: var(--fonte-texto-principal);
  color: var(--cor-texto);
  line-height: 56px;
  font-weight: normal;
  font-size: 36px;
}
.container_texto h1 strong {
  color: var(--cor-texto-secundario);
}
.container_texto p {
  font-family: var(--fonte-texto-secundario);
  color: var(--cor-texto);
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
img {
  width: 488px;
  height: 550px;
}
.container_botao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.container_botao h2 {
  font-family: var(--fonte-texto-principal);
  color: var(--cor-texto);
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.botao {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  font-family: var(--fonte-texto-secundario);
  /* background-color: var(--cor-texto-secundario); */
  color: var(--cor-texto);
  width: 378px;
  border: solid 2px var(--cor-texto-secundario);
  font-size: 24px;
  border-radius: 8px;
  text-align: center;
  padding: 21.5px 0;
  text-decoration: none;
  font-weight: 600;
}
.botao:hover {
background-color: var(--cor-preenchimento);
}
.botao img {
  width: 32px;
  height: 32px;
}
script {
  display: none;
}
.rodape{
  padding: 24px;
  color: #000000;
  background-color: #22d4fd;
  text-align: center;
  font-family: var(--fonte-texto-secundario);
  font-weight: regular;
}